@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* color */
  --primary:  #10b981;
  --background: #ecfdf5;
  --surface:  #a7f3d0;
  --text: #022c22;
  --border-radius: 1rem;
}

.dark {
  --primary: #10b981;
  --background: #022c22;
  --surface: #047857;
  --text: #ecfdf5;
  --border-radius: 1rem;
}

@layer components {
  .custom-container {
    @apply container w-10/12 mx-auto;
  }
}

html {
  scroll-behavior: smooth;
}


.bg-background {
  background-color: var(--background);
}

.bg-surface {
  background-color: var(--surface);
}

.bg-primary {
  background-color: var(--primary);
}

.bg-shadow {
  box-shadow: 0 0 10px var(--primary);
}

.text-primary {
  color: var(--text);
}

.text-secondary, .link-secondary {
  color: var(--primary);
}

.text-baseline {
  color: var(--background)
}

.navbar {
  display: flex;
  align-items: center;
  padding: 0 1rem;
  min-height: 4rem;
  width: 100%;
}

.nav-link {
  padding: 0.5rem 2rem;
  cursor: pointer;
  text-decoration: none;
  color: var(--text)
}

.nav-link:hover {
  color: #fff;
  padding: 0.5rem 2rem;
  background-color: var(--primary);
  border-radius: var(--border-radius);
  /* box-shadow: 0 0 10px var(--primary); */
}

.btn {
  padding: 0.5rem 1rem;
  border-radius: var(--border-radius);
  cursor: pointer;
  background-color: var(--primary);
  color: var(--background)
}

.btn-inverse {
  padding: 0.5rem 1rem;
  border-radius: var(--border-radius);
  cursor: pointer;
  background-color: var(--background);
  color: var(--primary)
}

.btn:hover {
  box-shadow: 0 0 2px var(--primary);
}

input, textarea {
  padding: 0.8rem 1rem;
  border: none;
  outline: none;
  border-radius: var(--border-radius);
}

.divider {
  height: 1px;
  background-color: var(--background);
  opacity: 0.2;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--primary);
}

.client-logo {
  transition: all 0.3s;
  cursor: pointer;
  /* filter: grayscale(100%); */
}

.client-logo:hover {
  transform: scale(1.1);
  /* filter: grayscale(0%); */
}

.client-logo:hover img {
  /* -webkit-filter: drop-shadow(5px 5px 5px var(--primary));
  filter: drop-shadow(5px 5px 5px var(--primary)); */
  filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.3)) 
          drop-shadow(-5px -5px 5px rgba(255, 255, 255, 0.2));
}

/* Custom CSS for Tooltip */
.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltip-content {
  position: absolute;
  bottom: 115%;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--background);
  box-shadow: 0 0 1px var(--text);
  color: var(--text);
  padding: 4px 10px;
  border-radius: var(--border-radius);
  white-space: nowrap;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease;
  font-size: 0.875rem;
  line-height: 1.25rem;
  z-index: 1;
}

.tooltip-bottom .tooltip-content {
  top: 115%;
  bottom: auto;
}

.tooltip:hover .tooltip-content {
  opacity: 1;
  visibility: visible;
}

.profile-pic {
  border-radius: 50%;
  outline: 1px solid green;
  border: 2px solid var(--surface);
  padding: 1px;
  box-shadow: 0px 1px 10px 0px var(--primary)
}
