@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* color */
  --primary:  #4A90E2;
  --background: #F0F4F8;
  --surface:  #E1E8ED ;
  --text: #2D3748;
  --shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  --border-radius: 1rem
}

.dark {
  --primary: #4A90E2;
  --background: #1A202C;
  --surface: #2D3748;
  --text: #E2E8F0 ;
  --border-radius: 1rem
}

html {
  scroll-behavior: smooth;
}


.bg-background {
  background-color: var(--background);
}

.custom-container {
  margin-left: auto;
  margin-right: auto;
  width: 95%;
}

.page-container {
  margin-left: auto;
  margin-right: auto;
  width: 95%;
  margin-top: 9rem;
}

.bg-surface {
  background-color: var(--surface);
}

.bg-primary {
  background-color: var(--primary);
}

.bg-shadow {
  box-shadow: 0 0 10px var(--primary);
}

.text-primary {
  color: var(--text);
}

.text-secondary, .link-secondary {
  color: var(--primary);
}

.text-baseline {
  color: var(--background)
}

.section-block {
  border-radius: var(--border-radius);
  box-shadow: var(--shadow);
}

.nav-list {
  background-color: var(--surface);
  /* box-shadow: 0 0 1px var(--text); */
  border-radius: var(--border-radius);
  border: 1px solid var(--surface);
}

.navbar {
  display: flex;
  align-items: center;
  padding: 0 1rem;
  min-height: 4rem;
  width: 100%;
}

.nav-link {
  padding: 0.5rem 1.5rem;
  cursor: pointer;
  text-decoration: none;
  color: var(--text)
}

.nav-active {
  color: #fff;
  padding: 0.5rem 1.5rem;
  background-color: var(--primary);
  border-radius: var(--border-radius);
}

.nav-link:hover {
  color: #fff;
  padding: 0.5rem 1.5rem;
  background-color: var(--primary);
  border-radius: var(--border-radius);
}

.btn {
  padding: 0.5rem 1.5rem;
  border-radius: var(--border-radius);
  cursor: pointer;
  background-color: var(--primary);
  color: var(--background)
}

.btn-inverse {
  padding: 0.5rem 1rem;
  border-radius: var(--border-radius);
  cursor: pointer;
  background-color: var(--background);
  color: var(--primary)
}

.btn:hover {
  box-shadow: 0 0 2px var(--primary);
}

input, textarea {
  padding: 0.8rem 1rem;
  border: none;
  outline: none;
  border-radius: var(--border-radius);
}

.divider {
  height: 1px;
  background-color: var(--background);
  opacity: 0.2;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--primary);
}

.client-logo {
  transition: all 0.3s;
  cursor: pointer;
  /* filter: grayscale(100%); */
}

.client-logo:hover {
  transform: scale(1.1);
  /* filter: grayscale(0%); */
}

.client-logo:hover img {
  /* -webkit-filter: drop-shadow(5px 5px 5px var(--primary));
  filter: drop-shadow(5px 5px 5px var(--primary)); */
  filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.3)) 
          drop-shadow(-5px -5px 5px rgba(255, 255, 255, 0.2));
}

/* Custom CSS for Tooltip */
.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltip-content {
  position: absolute;
  bottom: 115%;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--background);
  box-shadow: 0 0 1px var(--text);
  color: var(--text);
  padding: 4px 10px;
  border-radius: var(--border-radius);
  white-space: nowrap;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease;
  font-size: 0.875rem;
  line-height: 1.25rem;
  z-index: 1;
}

.tooltip-secondary .tooltip-content {
  background-color: var(--primary) !important;
  color: var(--background) !important;
}

.tooltip-bottom .tooltip-content {
  top: 115%;
  bottom: auto;
}

.tooltip:hover .tooltip-content {
  opacity: 1;
  visibility: visible;
}

.profile-pic {
  border-radius: 50%;
  outline: 1px solid var(--primary);
  border: 2px solid var(--surface);
  padding: 1px;
  box-shadow: 0px 1px 10px 0px var(--primary)
}

input, textarea {
  background: var(--background);
  color: var(--text);
}


/* media queries */

@media screen and (min-width: 640px) {
  .page-container {
    width: 90%;
  }
}

@media screen and (min-width: 768px) {
  .page-container {
    width: 85%;
  }
}

@media screen and (min-width: 1024px) {
  .page-container {
    width: 83.333333%;
  }
  /* .nav-link {
    padding: 0.5rem 1rem;
  }
  .nav-active {
    padding: 0.5rem 1rem;
  }
  .nav-link:hover {
    padding: 0.5rem 1rem;
  }
  .btn {
    padding: 0.5rem 1rem;
  } */
}