@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* color */
  --primary:  #66372e;
  --background: #dcdcdc;
  --surface:  #e6ceca;
  --text: #2c1213;

  --border-radius: 1rem;
}

.dark {
  --primary: #4A90E2;
  --background: #1A1A1A;
  --surface: #2C2C2C;
  --text: #E0E0E0;

  --border-radius: 1rem;
}

@layer components {
  .custom-container {
    @apply container w-10/12 mx-auto;
  }
}


.bg-background {
  background-color: var(--background);
}

.bg-surface {
  background-color: var(--surface);
}

.bg-primary {
  background-color: var(--primary);
}

.bg-shadow {
  box-shadow: 0 0 10px var(--primary);
}

.text-primary {
  color: var(--text);
}

.text-secondary, .link-secondary {
  color: var(--primary);
}

.text-baseline {
  color: var(--background)
}

.navbar {
  display: flex;
  align-items: center;
  padding: 0 1rem;
  min-height: 4rem;
  width: 100%;
}

.nav-link {
  padding: 0.5rem 2rem;
  cursor: pointer;
  text-decoration: none;
  color: var(--text)
}

.nav-link:hover {
  color: #fff;
  padding: 0.5rem 2rem;
  background-color: var(--primary);
  border-radius: var(--border-radius);
  /* box-shadow: 0 0 10px var(--primary); */
}

.btn {
  padding: 0.5rem 1rem;
  border-radius: var(--border-radius);
  cursor: pointer;
  background-color: var(--primary);
  color: var(--background)
}

.btn-inverse {
  padding: 0.5rem 1rem;
  border-radius: var(--border-radius);
  cursor: pointer;
  background-color: var(--background);
  color: var(--primary)
}

.btn:hover {
  box-shadow: 0 0 2px var(--primary);
}

input, textarea {
  padding: 0.8rem 1rem;
  border: none;
  outline: none;
  border-radius: var(--border-radius);
}

.divider {
  height: 1px;
  background-color: var(--background);
  opacity: 0.2;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--primary);
}