@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* default variables */
  --primary:  #4A90E2;
  --background: #F0F4F8;
  --surface:  #E1E8ED ;
  --text: #2D3748;
  --shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  --hover: rgba(0, 0, 0, 0.1);
}

.dark {
  --primary: #4A90E2;
  --background: #1A202C;
  --surface: #2D3748;
  --text: #E2E8F0;
  --shadow: rgba(255, 255, 255, 0.24) 0px 3px 8px;
  --hover: rgba(255, 255, 255, 0.1);
}

.green-light {
  --primary: #2ECC71;
  --background: #F0F4F8;
  --surface: #E1E8ED;
  --text: #2D3748;
  --shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.green-dark {
  --primary: #2ECC71;
  --background: #1A202C;
  --surface: #2D3748;
  --text: #E2E8F0;
  --shadow: rgba(255, 255, 255, 0.24) 0px 3px 8px;
}

.purple-light {
  --primary: #9B59B6;
  --background: #F0F4F8;
  --surface: #E1E8ED;
  --text: #2D3748;
  --shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.purple-dark {
  --primary: #9B59B6;
  --background: #1A202C;
  --surface: #2D3748;
  --text: #E2E8F0;
  --shadow: rgba(255, 255, 255, 0.24) 0px 3px 8px;
}

.red-light {
  --primary: #E74C3C;
  --background: #F0F4F8;
  --surface: #E1E8ED;
  --text: #2D3748;
  --shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.red-dark {
  --primary: #E74C3C;
  --background: #1A202C;
  --surface: #2D3748;
  --text: #E2E8F0;
  --shadow: rgba(255, 255, 255, 0.24) 0px 3px 8px;
}

.yellow-light {
  --primary: #F1C40F;
  --background: #F0F4F8;
  --surface: #E1E8ED;
  --text: #2D3748;
  --shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.yellow-dark {
  --primary: #F1C40F;
  --background: #1A202C;
  --surface: #2D3748;
  --text: #E2E8F0;
  --shadow: rgba(255, 255, 255, 0.24) 0px 3px 8px;
}

.pink-light {
  --primary: #E91E63;
  --background: #F0F4F8;
  --surface: #E1E8ED;
  --text: #2D3748;
  --shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.pink-dark {
  --primary: #E91E63;
  --background: #1A202C;
  --surface: #2D3748;
  --text: #E2E8F0;
  --shadow: rgba(255, 255, 255, 0.24) 0px 3px 8px;
}

.orange-light {
  --primary: #F39C12;
  --background: #F0F4F8;
  --surface: #E1E8ED;
  --text: #2D3748;
  --shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.orange-dark {
  --primary: #F39C12;
  --background: #1A202C;
  --surface: #2D3748;
  --text: #E2E8F0;
  --shadow: rgba(255, 255, 255, 0.24) 0px 3px 8px;
}

html {
  scroll-behavior: smooth;
}


.bg-background {
  background-color: var(--background);
}

.mob-nav-container {
  margin-left: auto;
  margin-right: auto;
  width: 95%;
}

.custom-container {
  margin-left: auto;
  margin-right: auto;
  width: 95%;
}

.centerized {
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-container {
  margin-left: auto;
  margin-right: auto;
  width: 95%;
  margin-top: 9rem;
}

.bg-surface {
  background-color: var(--surface);
}

.bg-primary {
  background-color: var(--primary);
}

.bg-shadow {
  box-shadow: 0 0 10px var(--primary);
}

.text-primary {
  color: var(--text);
}

.text-secondary, .link-secondary {
  color: var(--primary);
}

.text-baseline {
  color: var(--background)
}

.section-block {
  border-radius: 1rem;
  box-shadow: var(--shadow);
}

.nav-list {
  background-color: var(--surface);
  border-radius: 1rem;
  border: 1px solid var(--surface);
}

.navbar {
  display: flex;
  align-items: center;
  padding: 0 1rem;
  min-height: 4rem;
  width: 100%;
}

.nav-link {
  padding: 0.5rem 1.5rem;
  cursor: pointer;
  text-decoration: none;
  color: var(--text);
  transition: 0.3s;
}

.nav-link:hover {
  color: var(--text);
  background-color: var(--hover);
  border-radius: 9999px;
}

.nav-active {
  color: var(--text) !important;
  background-color: var(--primary) !important;
  border-radius: 9999px;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: var(--background);
  cursor: pointer;
  border-radius: 9999px;
  padding: 0.6rem 1.5rem;
  transition: 0.3s;
  background-color: var(--primary);
  font-weight: 500;
}

.btn:hover {
  background-color: var(--text);
  color: var(--background);
  box-shadow: 0 0 15px var(--text);
}

.btn-inverse {
  background-color: var(--background);
  color: var(--primary)
}

.divider {
  height: 1px;
  background-color: var(--background);
  opacity: 0.2;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--primary);
}

.client-logo {
  display: inline-block;
  transition: transform 0.3s ease, box-shadow 0.3s ease, filter 0.3s ease;
  cursor: pointer;
}

.client-logo:hover {
  transform: scale(1.1) translateY(-5px);
}

.client-logo:hover img {
  filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.3)) 
          drop-shadow(-5px -5px 5px rgba(255, 255, 255, 0.2))
          brightness(1.2) saturate(1.1);
}


.tooltip {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.tooltip .tooltip-content {
  position: absolute;
  bottom: 115%;
  left: 50%;
  transform: translateX(-50%) scale(0.8);
  background-color: var(--background);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.06);
  color: var(--text);
  padding: 4px 10px;
  border-radius: 9999px;
  white-space: nowrap;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, transform 0.3s ease;
  font-size: 0.875rem;
  line-height: 1.25rem;
  z-index: 1;
}

.tooltip-secondary .tooltip-content {
  background-color: var(--primary) !important;
  color: var(--background) !important;
}

.tooltip-bottom .tooltip-content {
  top: 115%;
  bottom: auto;
}

.tooltip:hover .tooltip-content {
  opacity: 1;
  visibility: visible;
  transform: translateX(-50%) scale(1);
}

.modal.fade .modal-content {
  opacity: 0;
  visibility: hidden;
  transform: scale(1.1);
}
.modal.show .modal-content{
  opacity: 1;
  visibility: visible;
  transform: scale(1);
}

.modal-content {
  transform: scale(1.1);
  transition: visibility 0.25s ease-out, opacity 0.25s ease-out,
  transform 0.25s ease-out;
}

.modal.modal-static .modal-content {
  transform: scale(1.02);
}

.profile-pic {
  border-radius: 50%;
  outline: 1px solid var(--primary);
  border: 2px solid var(--surface);
  padding: 1px;
  box-shadow: 0px 1px 10px 0px var(--primary)
}

.navbar-shadow {
  box-shadow: 0 0 10px var(--surface);
}

input, textarea {
  background: var(--background);
  color: var(--text);
  padding: 1rem 2rem;
  border: none;
  outline: none;
  border-radius: 0.5rem;
}


/* media queries */

@media screen and (min-width: 640px) {
  .page-container {
    width: 90%;
  }
}

@media screen and (min-width: 768px) {
  .page-container {
    width: 85%;
  }
}

@media screen and (min-width: 1024px) {
  .page-container {
    width: 83.333333%;
  }
  .custom-container {
    width: 83.333%;
  }
}

@media screen and (min-width: 1280px) {
  .custom-container {
    width: 95%;
  }
  .nav-list {
    border-radius: 9999px;
  }
}

@media screen and (min-width: 1440px) {
  .custom-container {
    width: 83.333%;
  }
}